# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/windows,visualstudiocode
# Edit at https://www.gitignore.io/?templates=windows,visualstudiocode

### VisualStudioCode ###
!.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history


### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/windows,visualstudiocode

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

.vscode/launch.json
.vscode/settings.json
/includes/config.php
entities/.DS_Store
entities/previews/1.mp4
entities/previews/2.mp4
entities/previews/3.mp4
entities/previews/4.mp4
entities/previews/5.mp4
entities/previews/6.mp4
entities/thumbnails/2012.jpg
entities/thumbnails/bel.jpg
entities/thumbnails/bnn.jpg
entities/thumbnails/btff.jpg
entities/thumbnails/cu.jpg
entities/thumbnails/cwc.jpg
entities/thumbnails/d9.jpg
entities/thumbnails/dm.jpg
entities/thumbnails/elf.jpg
entities/thumbnails/fc.jpg
entities/thumbnails/friends.jpg
entities/thumbnails/fut.jpg
entities/thumbnails/got.jpg
entities/thumbnails/gr.jpg
entities/thumbnails/gra.jpg
entities/thumbnails/grease.jpg
entities/thumbnails/ha.jpg
entities/thumbnails/hs.jpg
entities/thumbnails/inbetw.jpg
entities/thumbnails/int.jpg
entities/thumbnails/its.jpg
entities/thumbnails/jaws.jpg
entities/thumbnails/jb.jpg
entities/thumbnails/jp.jpg
entities/thumbnails/la.jpg
entities/thumbnails/ldr.jpg
entities/thumbnails/man.jpg
entities/thumbnails/mec.jpg
entities/thumbnails/mi.jpg
entities/thumbnails/mib.jpg
entities/thumbnails/monsterfamily.jpg
entities/thumbnails/nbd.jpg
entities/thumbnails/nfs.jpg
entities/thumbnails/ninj.jpg
entities/thumbnails/pb.jpg
entities/thumbnails/pok.jpg
entities/thumbnails/ppg.jpg
entities/thumbnails/santa.jpg
entities/thumbnails/sb.jpg
entities/thumbnails/sbsp.jpg
entities/thumbnails/som.jpg
entities/thumbnails/Suits.jpg
entities/thumbnails/tg.jpg
entities/thumbnails/thesimpsons.jpg
entities/thumbnails/tid.jpg
entities/thumbnails/toystory.jpg
entities/thumbnails/tra.jpg
entities/thumbnails/tss.jpg
entities/thumbnails/ttg.jpg
entities/thumbnails/yel.jpg
entities/thumbnails-real-images/2012.jpg
entities/thumbnails-real-images/bel.jpg
entities/thumbnails-real-images/bnn.jpg
entities/thumbnails-real-images/bttf.jpeg
entities/thumbnails-real-images/cu.jpg
entities/thumbnails-real-images/cwc.jpg
entities/thumbnails-real-images/d9.jpg
entities/thumbnails-real-images/dm.jpg
entities/thumbnails-real-images/elf.jpg
entities/thumbnails-real-images/fc.jpg
entities/thumbnails-real-images/friends.jpg
entities/thumbnails-real-images/fut.jpg
entities/thumbnails-real-images/got.jpg
entities/thumbnails-real-images/gr.jpg
entities/thumbnails-real-images/gra.jpg
entities/thumbnails-real-images/grease.jpg
entities/thumbnails-real-images/ha.jpg
entities/thumbnails-real-images/hs.jpg
entities/thumbnails-real-images/inbetw.jpg
entities/thumbnails-real-images/int.jpg
entities/thumbnails-real-images/its.jpg
entities/thumbnails-real-images/jaws.jpg
entities/thumbnails-real-images/jb.jpg
entities/thumbnails-real-images/jp.jpg
entities/thumbnails-real-images/la.jpg
entities/thumbnails-real-images/ldr.jpg
entities/thumbnails-real-images/man.jpg
entities/thumbnails-real-images/mec.jpg
entities/thumbnails-real-images/mi.jpg
entities/thumbnails-real-images/mib.jpg
entities/thumbnails-real-images/monsterfamily.jpg
entities/thumbnails-real-images/nbd.jpg
entities/thumbnails-real-images/nfs.jpg
entities/thumbnails-real-images/ninj.jpg
entities/thumbnails-real-images/pb.jpg
entities/thumbnails-real-images/pok.jpg
entities/thumbnails-real-images/ppg.jpg
entities/thumbnails-real-images/santa.jpg
entities/thumbnails-real-images/sb.jpg
entities/thumbnails-real-images/sbsp.jpg
entities/thumbnails-real-images/som.jpg
entities/thumbnails-real-images/Suits.jpg
entities/thumbnails-real-images/tg.jpg
entities/thumbnails-real-images/thesimpsons.jpg
entities/thumbnails-real-images/tid.jpg
entities/thumbnails-real-images/toystory.jpg
entities/thumbnails-real-images/tra.jpg
entities/thumbnails-real-images/tss.jpg
entities/thumbnails-real-images/ttg.jpg
entities/thumbnails-real-images/yel.jpg
entities/videos/1.mp4
entities/videos/2.mp4
entities/videos/3.mp4
entities/videos/4.mp4
entities/videos/5.mp4
entities/videos/6.mp4
